@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.HotelViewModel
@using System.Configuration;
@{
    ViewBag.Title = "Hotel Book View";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    int count = 0;
    bool askOTP = Convert.ToBoolean(ConfigurationManager.AppSettings["askOTP"]);
    bool IsPaymentGatewayactive = Convert.ToBoolean(ConfigurationManager.AppSettings["IsPaymentGatewayactive"]);
}
<!DOCTYPE html>

<html>
<body>
    <form class="form-horizontal form-material white-box" id="bookHotelForm" onsubmit="return SubmitBookingDetail();">
        @Html.HiddenFor(m => m.hotelRequestCookieId, new { @id = "hotelRequestCookieId" })
        <div class="form-body">
            <div class="form-group">
                <label class="control-label col-md-3">Title</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.ProvisionalBookingDetail.GuestInformation.Title, new SelectList(Model.Title, "Id", "Value"), new { @required = "0", id = "titleDropDown", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Name</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.FirstName, new { @id = "firstName", @required = "", @class = "form-control", @placeholder = "FirstName" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.MiddleName, new { @id = "middleName", @class = "form-control", @placeholder = "SecondName" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.LastName, new { @id = "lastName", @required = "", @class = "form-control", @placeholder = "LastName" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Phone Number</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.PhoneNumber.CountryCode, new { @id = "countryCode", @required = "", @class = "form-control", @placeholder = "Country Code" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.PhoneNumber.AreaCode, new { @id = "countryCode", @required = "", @class = "form-control", @placeholder = "Area Code" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.PhoneNumber.Number, new { @id = "number", @required = "", @class = "form-control", @placeholder = "Number" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.PhoneNumber.Extension, new { @id = "extension", @required = "", @class = "form-control", @placeholder = "Extension" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Email</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.Email, new { @type = "email", @id = "email", @required = "", @class = "form-control", @placeholder = "Email" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Address</label>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.Address.AddressLine, new { @id = "addressLine", @required = "", @class = "form-control", @placeholder = "Address Line" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.Address.City, new { @id = "City", @required = "", @class = "form-control", @placeholder = "City" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.Address.ZipCode, new { @id = "ZipCode", @required = "", @class = "form-control", @placeholder = "Zipcode" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.Address.State, new { @id = "State", @required = "", @class = "form-control", @placeholder = "State" })

                    @Html.TextBoxFor(m => m.ProvisionalBookingDetail.GuestInformation.Address.Country, new { @id = "Country", @required = "", @class = "form-control", @placeholder = "Country" })
                </div>
            </div>

            <br />
            <div class="form-group">
                <label class="control-label col-md-3">NOTE :- Your current wallet balance is</label>
                <div class="col-md-9">
                    @Model.WalletResponseDetail.wallet_balance
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label col-md-3">Choose Payment Mode</label>
                <div class="col-md-9">
                    @{
                        string[] userData = User.Identity.Name.Split('|');
                    }
                    @if (userData != null && userData[6] != "3")
                    {
                        <label>@Html.RadioButtonFor(x => Model.HotelRequestDetail.PaymentMode, "wallet", new { @required = "required" })Wallet</label>
                        if (IsPaymentGatewayactive)
                        {
                            <label>@Html.RadioButtonFor(x => Model.HotelRequestDetail.PaymentMode, "bank", new { @required = "required" })Bank</label>
                        }
                    }
                    else
                    {
                        <label>@Html.RadioButtonFor(x => Model.HotelRequestDetail.PaymentMode, "wallet", new { @required = "required", @checked = "checked" })Wallet</label>
                    }
                </div>
            </div>
            <span id="hoteSearchHotel"></span>
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success"> <i class="fa"></i>Book</button>
                </div>
            </div>

        </div>
    </form>
</body>
</html>
<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Script/hotel.js"></script>