@using System.Globalization;
@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.HotelViewModel
@{
    ViewBag.Title = "Hotel Transacton List View";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    .dataTables_filter, .dataTables_info {
        display: none;
    }
</style>

<link href="~/plugins/bower_components/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
@*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>*@

<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h3 class="box-title">Hotel Booking Details</h3>
            <div class="panel-body text-info" style="background: #F3F3F3;">

                <h3 class="box-title">Filter Criteria</h3>
                <hr class="m-t-0 m-b-20">
                @*<form action="GetHotelTransactionList" method="post" class="form-horizontal form-bordered" id="hotelFilterForm">*@
                <form id="hotelFilterForm" onsubmit="return GetTransactionListDetail();">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Result Type</label>
                                <div class="col-md-9">
                                    <label>@Html.RadioButtonFor(x => Model.FilterDetail.status, "COMPLETED", new { @class = "PaymentModebutton" }) COMPLETED</label>
                                    <label>@Html.RadioButtonFor(x => Model.FilterDetail.status, "FAIL", new { @class = "PaymentModebutton" }) FAIL</label>
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Select type</label>
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.SelectType, new SelectList(Model.SelectTypeList, "Id", "Value"), new { @required = "0", id = "roomCountDropDown", @class = "form-control" })
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.SelectedTypeValue, new { @id = "selectedTypeValue", @class = "form-control", @placeholder = "Selected Type Value" })
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">From date</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.FilterDetail.check_in_date, new { @id = "start", @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"> To Date</label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.FilterDetail.check_out_date, new { @id = "end", @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                                    <span class="help-block"> </span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">&nbsp;</label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-body">
                            <div class="form-group">
                                    <label class="control-label col-md-1">Result Type</label>
                                    <div class="col-md-9">
                                        <label>@Html.RadioButtonFor(x => Model.FilterDetail.ResultType, "Success", new { @class = "PaymentModebutton" }) Success</label>
                                        <label>@Html.RadioButtonFor(x => Model.FilterDetail.ResultType, "Fail", new { @class = "PaymentModebutton" }) Fail</label>
                                    </div>
                                </div>

                            <div class="form-group">
                                    <label class="control-label col-md-1">Select type</label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(m => m.FilterDetail.SelectType, new SelectList(Model.FilterDetail.SelectTypeList, "Id", "Value"), new { @required = "0", id = "roomCountDropDown", @class = "form-control" })
                                    </div>

                                    <div class="col-md-2">
                                        @Html.TextBoxFor(m => m.FilterDetail.SelectedTypeValue, new { @id = "selectedTypeValue", @class = "form-control", @placeholder = "Selected Type Value" })
                                    </div>
                                </div>

                            <div class="form-group">
                                <label class="control-label col-md-1">From date</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.FilterDetail.FromDate, new { @id = "start", @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                                </div>

                                <label class="control-label col-md-1">To Date</label>
                                <div class="col-md-2">
                                    @Html.TextBoxFor(m => m.FilterDetail.ToDate, new { @id = "end", @class = "form-control datepicker", @placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>

                            <span id="hoteSearchHotel"></span>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success"> <i class="fa"></i> View</button>
                                </div>
                            </div>

                        </div>*@
                </form>
            </div>

            <div class="table-responsive">
                <div id="Usercontainer" style="min-height: 305px;">
                    <br />
                    <table class="display table" id="LedgerList" width="100%">
                        <thead>
                            <tr>
                                <th data-col="0">Mobile No</th>
                                <th data-col="1">Email Id</th>
                                <th data-col="2">Hotel Name</th>
                                <th data-col="3">Hotel City</th>
                                <th data-col="4">Checkin Date</th>
                                <th data-col="5">Checkout Date</th>
                                <th data-col="6">Book Date</th>
                                <th data-col="7">Book Amount</th>
                                <th data-col="8">Booking Id</th>
                                <th data-col="9">Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        </tfoot>
                    </table>
                </div>
            </div>
            @*@if (Model != null || Model.BookingList != null || Model.BookingList.Count != 0)
                {*@
            @*<table>
                    <thead>
                        <tr>
                            <th width="5%">S.No.</th>
                            <th width="10%">Mobile No</th>
                            <th width="12%">Email Id</th>
                            <th width="13%">Hotel Name</th>
                            <th width="10%">Hotel City</th>
                            <th width="10%">Checkin Date</th>
                            <th width="10%">Checkout Date</th>
                            <th width="10%">Book Date</th>
                            <th width="5%">Book Amount</th>
                            <th width="5%">Booking Id</th>
                            <th width="10%">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var count = 0; }
                        @foreach (var detail in Model.BookingList)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@detail.mobile</td>
                                <td>@detail.email</td>
                                <td>@detail.hotel_name</td>
                                <td>@detail.hotel_city</td>
                                <td>@detail.check_in_date</td>
                                <td>@detail.check_out_date</td>
                                <td>@detail.txn_date</td>
                                <td>@detail.amount</td>
                                <td>@detail.txn_id</td>
                                <td>@detail.status</td>
                            </tr>
                        }
                    </tbody>
                </table>*@
            @*}*@
        </div>
    </div>
</div>
<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Script/hotelTransaction.js"></script>

<script>
    var jq = $.noConflict();
    jq(document).ready(function () {
        jq(".preloader").hide();

        jq('#start').datepicker({
            autoclose: true,
            todayHighlight: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy"
        }).datepicker("setDate", new Date());

        jq('#end').datepicker({
            autoclose: true,
            todayHighlight: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy"
        }).datepicker("setDate", new Date());

        jq("#hotelFilterForm").submit(function () {
            jq(".preloader").show();
        })

        // Date Picker
        //jq('#start').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    dateFormat: "dd/mm/yy",
        //    minDate: 0
        //});

        //jq('#end').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    dateFormat: "dd/mm/yy",
        //    minDate: 0
        //});

        GetTransactionListDetail();
    });
</script>
