@model ShineYatraAdmin.Entity.HotelViewModel
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Hotel Booking Status</div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    @if (Model != null)
                    {
                        <h3>@Model.Error</h3>

                        <div class="col-md-2"></div>
                        if (Model.HotelRequestDetail != null)
                        {
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <h4>Hotel Details</h4>
                                </div>

                                <div class="col-md-12">
                                    <Label>TxnID:&nbsp;</Label>@Model.txnId
                                </div>
                                <div class="col-md-12">
                                    <h2>Hotel:&nbsp;@Model.HotelRequestDetail.HotelName</h2>
                                </div>
                                <div class="col-md-12">
                                    Room:&nbsp;
                                    @if (Model.ProvisionalBookingDetail != null && Model.ProvisionalBookingDetail.Hotelinfo != null)
                                    {
                                        @Model.ProvisionalBookingDetail.Hotelinfo.Roomtype<br />
                                    }
                                </div>
                                <div class="col-md-12">
                                    CheckIn: @Model.HotelRequestDetail.Start - CheckOut: @Model.HotelRequestDetail.End
                                </div>
                                <div class="col-md-12">
                                    Nights: @Model.HotelRequestDetail.NightCount
                                </div>
                                <div class="col-md-6">
                                    <Label>
                                        <span>Adult: @Model.HotelRequestDetail.TotalAdultCount</span>
                                    </Label>
                                </div>
                                <div class="col-md-6">
                                    <Label>
                                        <span>Child: @Model.HotelRequestDetail.TotalChildCount</span>
                                    </Label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-6" style="margin-left:17%;">
                                <h4>Booking Details</h4>
                            </div>
                            <table border="1" class="display table" style="margin-left:18%;width: 70%;">
                                <tr>
                                    <th>Name</th>
                                    <th>Contact No.</th>
                                    <th>Address</th>
                                </tr>
                                <tr>

                                    <td>@Model.ProvisionalBookingDetail.GuestInformation.Title<span>&nbsp;</span> @Model.ProvisionalBookingDetail.GuestInformation.FirstName<span>&nbsp;</span>@Model.ProvisionalBookingDetail.GuestInformation.LastName</td>
                                    <td>@Model.ProvisionalBookingDetail.GuestInformation.PhoneNumber.Number</td>
                                    <td>
                                        @Model.ProvisionalBookingDetail.GuestInformation.Address.AddressLine
                                        <br />
                                        @Model.ProvisionalBookingDetail.GuestInformation.Address.City
                                        <br />
                                        @Model.ProvisionalBookingDetail.GuestInformation.Address.Country
                                        <br />
                                        @Model.ProvisionalBookingDetail.GuestInformation.Address.State
                                    </td>
                                </tr>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>