@using System.Globalization;
@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.HotelViewModel
@{
    ViewBag.Title = "Hotel Transacton List View";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<link href="~/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<link href="~/plugins/bower_components/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">
<script src="~/Script/hotelTransaction.js"></script>

<style>
    .popup-style {
        padding: 15px;
        text-align: center;
    }

    .mfp-content {
        width: 33% !important;
    }

    #roomDetailContainer th {
        text-align: center;
    }

    #roomDetailContainer td {
        text-align: center;
    }

    td {
        text-align: right;
        padding: 5px;
        line-height: 21px !important;
        padding: 5px;
    }

    th {
        text-align: right;
    }

    .left {
        width: 30%;
    }

    .heading {
        text-align: center;
        background: aliceblue;
        font-weight: bold;
    }

    .tableContainer {
        width: 97%;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h3 class="box-title heading">Hotel Invoice</h3>
            <table class="tableContainer" border="1">
                <tbody>
                    <tr>
                        <td class="left">
                            Booking No : <span id="txnId">@Model.InvoiceDetail.txn_id</span>
                        </td>
                        <td>
                            Booking Date : @Model.InvoiceDetail.txn_date
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hotel Name
                        </td>
                        <td>
                            @Model.InvoiceDetail.hotel_name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hotel Address
                        </td>
                        <td>
                            @Model.InvoiceDetail.hotel_address
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Check In
                        </td>
                        <td>
                            @Model.InvoiceDetail.check_in_date
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Check Out
                        </td>
                        <td>
                            @Model.InvoiceDetail.check_out_date
                        </td>
                    </tr>
                    <tr class="heading">
                        <td colspan="2" class="heading">
                            Booking Details
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Check In Time : @Model.InvoiceDetail.check_in_time
                        </td>
                        <td>
                            Check Out Time : @Model.InvoiceDetail.check_out_time
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 0px !important;">
                            <table style="width:100%;" border="1" id="roomDetailContainer">
                                <thead>
                                    <tr class="heading">
                                        <th style="width:30% !important;">Room Type</th>
                                        <th>
                                            Rooms
                                        </th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.InvoiceDetail.room_type</td>
                                        <td>@Model.InvoiceDetail.room_count</td>
                                        <td>@Model.InvoiceDetail.amount</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="heading">
                        <td colspan="2" class="heading">
                            Number of Guests
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Adults
                        </td>
                        <td style="text-align:left;padding-left:16% !important;">
                            @Model.InvoiceDetail.adult
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Childs
                        </td>
                        <td style="text-align:left; padding-left:16% !important;">
                            @Model.InvoiceDetail.child
                        </td>
                    </tr>
                    <tr class="heading">
                        <td colspan="2" class="heading">
                            Hotel Amenities
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            @Model.InvoiceDetail.hotel_amenities
                        </td>
                    </tr>
                    <tr class="heading">
                        <td colspan="2" class="heading">
                            Billing
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total Amont : INR @Model.InvoiceDetail.amount /-
                        </td>
                        <td>
                            Status : @Model.InvoiceDetail.status
                        </td>
                    </tr>
                    <tr class="heading">
                        <td colspan="2" class="heading">
                            Customer Information
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Customer Name
                        </td>
                        <td>
                            @Model.InvoiceDetail.title  @Model.InvoiceDetail.first_name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address
                        </td>
                        <td>
                            @Model.InvoiceDetail.address_line1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contact No.
                        </td>
                        <td>
                            @Model.InvoiceDetail.mobile
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email Id
                        </td>
                        <td>
                            @Model.InvoiceDetail.email
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @*<button type="button" id="cancelBooking" class="btn btn-success"> <i class="fa"></i> Cancel Hotel Booking</button>*@
    <a class="popup-with-form btn btn-success" href="#test-form" id="cancelBooking"><i class="fa"></i> Cancel Hotel Booking</a>
</div>

<form id="test-form" class="mfp-hide panel panel-info popup-style">
    @*<div id="test" style="height:550px; overflow-y:auto; overflow-x:hidden;"></div>*@
    <p>Are You Sure, You want to cancel booking!!</p>
    <button type="button" Id="deleteButton">Yes</button>
    <button type="button" Id="errorNoButton">No</button>
</form>

@*<div id="dialog" title="Delete" style="display:none;">

    </div>*@

