@model ShineYatraAdmin.Entity.CompanyViewModel
@using ShineYatraAdmin.Properties

<style>
    table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

</style>

<script src="~/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="~/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>

@if (Model.CompanyList != null && Model.CompanyList.Count > 0)
{
    <table id="MyTable" class="display table"  width="100%">
        <thead>
            <tr>
                <th  name="company_id">System ID </th>
                <th  name="company_logo">Logo</th>
                <th  name="company_name">Company Name</th>
                <th  name="company_website">Web Site</th>
                <th  name="utility_domain">Utility Site</th>
                <th  name="company_mobile">Contact No.</th>                
                <th  name="active_status">Active</th>
                <th class="text-nowrap">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model.CompanyList)
            {
                <tr>
                    <td><a href="javascript:void(0)">@company.company_id</a></td>
                    <td> <img src="@company.company_logo" alt="iMac" width="80"> </td>
                    <td>@company.company_name</td>
                    <td><span class="text-muted"><i class="fa fa-cloud"></i>@company.company_website</span> </td>
                    <td><span class="text-muted"><i class="fa fa-cloud"></i>@company.utility_domain</span> </td>
                    <td>@company.contact_person_phone</td>                    
                    <td><div class="label label-table label-success">@company.active_status</div></td>
                    <td class="text-nowrap">
                        <a href="#" data-company-id="@company.company_id" name="editView" data-toggle="tooltip" title="Edit" data-original-title="Edit" class="popup-with-form">
                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                        </a>
                        &nbsp;
                        <a href="#" data-toggle="tooltip" data-original-title="Close" title="Close">
                            <i class="fa fa-close text-danger sa-disable"></i>
                        </a>
                        @*&nbsp;
                        <a href="~/Company/companyCommission?companyId=@company.company_id&companyName=@company.company_name&companySettingId=@company.cmp_setting_id" data-toggle="tooltip" title="Company Commission Structure" data-original-title="Company Commission Structure">
                            <i class="fa fa-money text-inverse m-r-10"></i>
                        </a>*@
                        &nbsp;
                        <a href="#" name="company-setting" data-company-name="@company.company_name" data-company-setting-id="@company.cmp_setting_id" data-company-id="@company.company_id" data-toggle="tooltip" title="settings" data-original-title="settings" class="popup-with-form">
                            <i class="fa fa-bullseye text-inverse m-r-10"></i>
                        </a>
                        @*&nbsp;
                        <a href="#" name="add-fund" data-company-name="@company.company_name" data-company-id="@company.company_id" data-toggle="tooltip" title="Add-Funds" data-original-title="Add-Funds" class="popup-with-form">
                            <i class="fa fa-money text-inverse m-r-10"></i>
                        </a>*@
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div> No Company Found.</div>
}


@********end pagination code************@

<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#MyTable').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            //to select and search from grid  
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            },
            "bLengthChange": false,
            "language": {
                "paginate": {
                    "previous": "<<",
                    "next": ">>"
                }
            },
            "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [7] }
            ],
            stateSave: true
        });
    });

</script>
