@using System.Configuration
@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.RechargeViewModel

@{
    ViewBag.Title = "Recharge";
    Layout = "~/Views/Shared/Layout.cshtml";
    string rechargeType = Model.rechargeType;
    string[] userData = User.Identity.Name.Split('|');
    bool askOTP = Convert.ToString(Session["otp_service_enabled"]) == "Y";
    bool IsPaymentGatewayactive = Convert.ToString(Session["web_pg_api_enabled"]).ToUpper() == "Y" && userData[6] != "3";
}


<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h3 class="box-title">@rechargeType Recharge</h3>
            <hr class="m-t-0 m-b-40">
            <form class="form-horizontal" id="RechargeForm" action="Recharge/Transaction" method="post" onsubmit="return doRecharge()">
                <div class="form-body">                                                            
                    
                    
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Operator*</label>
                                <div class="col-md-8">
                                    <select id="operator" name="spkey" class="custom-select col-12" onchange="setvalue()" required style="width: 100%">
                                        <option value="0">Please Select</option>
                                    </select>
                                    <input type="hidden" id="ProviderName" name="ProviderName" value="" />
                                    <input type="hidden" id="rechargeType" name="rechargeType" value="@Model.rechargeType" />
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                        </div>
                        <!--/span-->
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Mobile Number*</label>
                                <div class="col-md-8">
                                    @Html.TextBox("account", "", new { @class = "form-control", required = "", id = "MobileNumber", placeholder = "Mobile" })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                        </div>
                        <!--/span-->
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Amount*</label>
                                <div class="col-md-8">
                                    @Html.TextBox("amount", "10", new { @class = "form-control", @readonly = "", id = "Amount", required = "", placeholder = "Amount" })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                        </div>
                        <!--/span-->
                    </div>
                                                            
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Choose Payment Mode*</label>
                                <div class="col-md-8">                                    
                                    @if (IsPaymentGatewayactive)
                                    {
                                        <label>@Html.RadioButton("PaymentMode", "wallet", new { @required = "required", @class = "PaymentModebutton" })Wallet</label>
                                        <label>@Html.RadioButton("PaymentMode", "bank", new { @required = "required", @class = "PaymentModebutton" })Bank</label>
                                    }
                                    else
                                    {
                                        <label>@Html.RadioButton("PaymentMode", "wallet", new { @required = "required", @checked = "checked" })Wallet</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                        </div>
                        <!--/span-->
                    </div>

                    <div class="row" id="PartialPaymentWithWalletDiv" style="display:none;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Html.CheckBox("PartialPaymentWithWallet", new { @id = "PartialPaymentWithWallet" }) <span id="walletBalanceMessage">Your Wallet Contains some amount do you want to use that amount?</span></label>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                        </div>
                        <!--/span-->
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4"></label>
                                <div class="col-md-8">
                                    @if (!string.IsNullOrEmpty(Model.status))
                                    {
                                        <div class="row">
                                            <h4 style="color:red;"> @Model.status</h4>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                        </div>
                        <!--/span-->
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9">
                                    @if (askOTP)
                                    {
                                        <input type="button" class="btn btn-success" disabled="disabled" value="Proceed to Recharge" onclick="openotpform()">
                                    }
                                    else
                                    {
                                        <input type="submit" class="btn btn-success" disabled="disabled" value="Proceed to Recharge" >
                                    }
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">

                        </div>
                        <!--/span-->
                    </div>                                                                            
                </div>
            </form>
        </div>
    </div>
</div>



@Html.Partial("~/Views/Shared/OTPpopup.cshtml")


<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Script/recharge.js"></script>
<script src="~/Script/otp.js"></script>

<script>
    $(document).ready(function () {
        $(".preloader").show();
        getServiceProviderList("@rechargeType");
        if("@ViewBag.tansactionStatus"!="")
        {
            if ("@ViewBag.tansactionStatus" == "success") {
                        ClearForm("RechargeForm");
                        swal("Success", "Transaction Successfull", "success");
                    }
                    else {
                        swal("Status", transaction_resut , "error");
                    }
        }

        $('.PaymentModebutton').change(function () {
            getwalletstatus(this.value);
        });
    });

    function checkOTP(status) {
        if (status === "success") {
            $("#RechargeForm").submit();
        }
    }

    function getwalletstatus(value) {
        if (value === "bank") {
            $(".preloader").show();
            $.ajax({
                url: '/Common/GetUserBalance',
                type: 'Post',
                async: false,
            }).done(function (result) {
                $("#walletBalanceMessage").html("Your wallet contains Rs " + result + ". Do you want to use your wallet balance to pay your fare?");
                $("#PartialPaymentWithWalletDiv").show();
                $(".preloader").hide();
            }).fail(function (xhr) {
                alert("getwalletstatus " + xhr);
            });
        }
        else {
            $("#PartialPaymentWithWalletDiv").hide();
        }
    }
</script>




