@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.PrimarySetting
@{
    ViewBag.Title = "Default Bus Structure";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="white-box">


            <!-- Tabstyle start -->
            <h3 class="box-title m-b-0">Bus Master Structure %</h3>
            <br><br>

            <table class="table table-bordered table-responsive color-bordered-table  color-table info-table">
                <thead>
                    <tr>                        
                        <th colspan="2">Front Margin</th>
                        <th colspan="2">Back Margin</th>
                        <th colspan="2">Business Volumne</th>
                        <th colspan="2">Gap Margin</th>
                        <th class="text-nowrap">Action</th>
                    </tr>
                    <tr>
                        
                        <th>%</th>
                        <th>Amt</th>

                        <th>%</th>
                        <th>Amt</th>

                        <th>%</th>
                        <th>Amt</th>

                        <th>%</th>
                        <th>Amt</th>


                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var t in Model.structure)
                    {
                        <tr id="row_@t.sub_service_id">                            
                            <td><input type="hidden" name="front_discount_per" value="@t.front_discount_per">@t.front_discount_per</td>
                            <td><input type="hidden" name="front_discount_amount" value="@t.front_discount_amount">@t.front_discount_amount</td>
                            <td><input type="hidden" name="back_discount_per" value="@t.back_discount_per">@t.back_discount_per</td>
                            <td><input type="hidden" name="back_discount_amount" value="@t.back_discount_amount">@t.back_discount_amount</td>
                            <td><input type="hidden" name="bv_discount_per" value="@t.bv_discount_per">@t.bv_discount_per</td>
                            <td><input type="hidden" name="bv_discount_amount" value="@t.bv_discount_amount">@t.bv_discount_amount</td>
                            <td><input type="hidden" name="gap_discount_per" value="@t.gap_discount_per">@t.gap_discount_per</td>
                            <td><input type="hidden" name="gap_discount_amount" value="@t.gap_discount_amount">@t.gap_discount_amount</td>

                            <td>
                                <a href="#edit-primary-margin-popup" data-toggle="tooltip" data-original-title="Edit" class="popup-with-form" onclick="getRowEditform('@t.sub_service_id','@t.service_id')">
                                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="row mfp-hide white-popup-block" id="edit-primary-margin-popup" style="max-width: 800px;">
    <div class="col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading"> Alter Bus Margin Stucture</div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <form action="#" name="edit-primary-margin" id="edit-primary-margin" onsubmit="return UpdatePrimaryMargin();">
                        <input type="hidden" name="sub_service_id">
                        <input type="hidden" name="service_id">
                        <input type="hidden" name="member_id" value="@ShineYatraSession.LoginUser.member_id">
                        <div class="form-body">
                            <h3 class="box-title" id="title" name="airlineName"></h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Front Margin(%)</label>
                                        <input id="frontmargin_per" step="any" name="front_discount_per" required="required" class="form-control" placeholder="Margin %" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Front Margin(Amount)</label>
                                        <input id="frontmargin_amount" step="any" name="front_discount_amount" required="required" class="form-control" placeholder="Margin Value" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Back Margin(%)</label>
                                        <input id="agent_per" step="any" class="form-control" name="back_discount_per" required="required" placeholder="Margin %" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Back Margin(Amount)</label>
                                        <input id="frontmargin_amount" step="any" name="back_discount_amount" required="required" class="form-control" placeholder="Margin Value" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">BV Margin(%)</label>
                                        <input id="bv_per" step="any" class="form-control" required="required" name="bv_discount_per" placeholder="Margin %" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">BV(Amount)</label>
                                        <input id="bv_amount" step="any" class="form-control" required="required" name="bv_discount_amount" placeholder="Margin Value" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">GAP Margin(%)</label>
                                        <input id="gap_per" step="any" class="form-control" required="required" name="gap_discount_per" placeholder="Margin %" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">GAP(Amount)</label>
                                        <input id="gap_amount" step="any" class="form-control" required="required" name="gap_discount_amount" placeholder="Margin Value" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->


                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" onclick="closePopup()" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Script/PrimarySetting.js"></script>