@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.PrimarySetting
@{
    ViewBag.Title = "Default Airline Structure";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <!-- Tabstyle start -->
            <h3 class="box-title m-b-0">Airline Master Structure %</h3>
            <div class="table-responsive">

                <table class="table table-bordered color-bordered-table  color-table display"  width="100%">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Airline Name</th>
                            <th>Airline Code</th>
                            <th colspan="2">Front</th>
                            <th colspan="2">Distribution</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                        <tr>
                            <th colspan="1"></th>
                            <th colspan="1"></th>
                            <th colspan="1"></th>
                            <th>%</th>
                            <th>Amt</th>

                            <th>%</th>
                            <th>Amt</th>


                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.structure != null)
                        {
                            foreach (var t in Model.structure)
                            {
                                <tr id="row_@t.sub_service_id">
                                    <td><img src="~/plugins/images/property/prop1.jpg" alt="iMac" width="30"></td>
                                    <td><input type="hidden" name="airlineName" value="@t.sub_service_name (@t.sub_service_code)">@t.sub_service_name</td>
                                    <td><input type="hidden" name="airlineCode" value="@t.sub_service_code">@t.sub_service_code</td>
                                    <td><input type="hidden" name="front_discount_per" value="@t.front_discount_per"><span class="row_value_@t.sub_service_id" name="front_discount_per">@t.front_discount_per</span></td>
                                    <td><input type="hidden" name="front_discount_amount" value="@t.front_discount_amount"><span class="row_value_@t.sub_service_id"  name="front_discount_amount">@t.front_discount_amount</span></td>
                                    <td><input type="hidden" name="back_discount_per" value="@t.back_discount_per"><span class="row_value_@t.sub_service_id" name="back_discount_per">@t.back_discount_per</span></td>
                                    <td><input type="hidden" name="back_discount_amount" value="@t.back_discount_amount"><span class="row_value_@t.sub_service_id"  name="back_discount_amount">@t.back_discount_amount</span></td>
                                    <td>
                                        <a href="#edit-primary-margin-popup" data-toggle="tooltip" data-original-title="Edit" class="popup-with-form" onclick="getRowEditform('@t.sub_service_id','@t.service_id','@t.sub_service_name (@t.sub_service_code)')">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="7">No Structure Found</td></tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row mfp-hide white-popup-block" id="edit-primary-margin-popup" style="max-width: 800px;">
    <div class="col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading"> Alter Airline Margin Stucture</div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <form action="#" name="edit-primary-margin" id="edit-primary-margin" onsubmit="return UpdatePrimaryMargin();">
                        <input type="hidden" name="sub_service_id">
                        <input type="hidden" name="service_id">
                        <input type="hidden" name="member_id" value="@Model.memberid">
                        <div class="form-body">
                            <h3 class="box-title" id="title" name="airlineName"></h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Front(%)</label>
                                        <input id="frontmargin_per" step="any" name="front_discount_per" required="required" min="0" max="100" class="form-control" placeholder="Margin %" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Front(Amount)</label>
                                        <input id="frontmargin_amount" step="any" name="front_discount_amount" required="required" class="form-control" placeholder="Margin Value" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Disribution(%)</label>
                                        <input id="agent_per" step="any" class="form-control" name="back_discount_per" min="0" max="100" required="required" placeholder="Margin %" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Disribution(Amount)</label>
                                        <input id="frontmargin_amount" step="any" name="back_discount_amount" required="required" class="form-control" placeholder="Margin Value" type="number">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" onclick="closePopup()" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Script/PrimarySetting.js"></script>

