@using System.Globalization
@model ShineYatraAdmin.Entity.SearchPageViewModel
@using ShineYatraAdmin.Properties

@{
    ViewBag.Title = "SearchFlightResult";
    Layout = "~/Views/Shared/orange/Layout.cshtml";
    int i = 0, count = 0;
    var query = string.Empty;
}
<style>
    .booking-item {
        width: 173.5%;
        border: 1px solid #e6e6e6;
        margin: 13px 0px;
        padding: 0px;
    }

        .booking-item td {
            border: none;
        }

    .booking-item-flight-details .booking-item-departure, .booking-item-flight-details .booking-item-arrival {
        width: auto;
    }

    .booking-item-container {
        padding: 15px;
        margin: 10px;
        margin-bottom: 10px;
        /*background: pink;*/
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    .dataTables_filter, .dataTables_info {
        display: none;
    }

    .ui-datepicker .ui-datepicker-header {
        background-color: white;
        border: 0px;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background-color: #ed8323 !important;
        color: white !important;
    }

    .ui-autocomplete {
        z-index: 100;
    }

    .tab {
        display: inline-block;
        padding: 8px;
        background-color: rgba(0,0,0,0.06);
        color: #ed8323;
    }

    .active-tab {
        background-color: #ed8323;
        color: white;
    }

    .form-group.form-group-lg {
        margin-bottom: 8px;
    }

    .ui-menu {
        background-color: #ed8323;
        width: 335.2px !important;
        color: white;
    }

    .mt50 {
        margin-top: 10px !important;
    }
</style>
<link href="~/plugins/bower_components/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

<div class="container">
    @{
        var recordCount = Model.arrayOfSearchedFlights.Origindestinationoption == null ? "0" : Model.arrayOfSearchedFlights.Origindestinationoption.Count().ToString();
        var child = string.Empty;
        if (Model.flightSearch.ChildPax > 0)
        {
            child += " ," + @Model.flightSearch.AdultPax + " Child ";
        }
        if (Model.flightSearch.InfantPax > 0)
        {
            child += " ,and " + @Model.flightSearch.InfantPax + " Infant";
        }

        query = recordCount + " Flights from " + @Model.flightSearch.Origin + " to " + @Model.flightSearch.Destination + " on " + @Model.flightSearch.DepartDate + " for " + @Model.flightSearch.AdultPax + " adult " + child;
    }
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        @Html.Partial("~/Views/Flight/FlightMenu/orange/_SearchFlightPartialView.cshtml", Model.flightSearch)
    </div>
    <h3 class="booking-title">@query<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Change search</a></small></h3>
    <div class="row">
        <div class="col-md-3">
            <form class="booking-item-dates-change mb30">
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                    <label>From</label>
                    <input class="typeahead form-control" value="Jaipur, Rajasthan, India" placeholder="City, Hotel Name or U.S. Zip Code" type="text" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                    <label>To</label>
                    <input class="typeahead form-control" value="Delhi, Rajasthan, India" placeholder="City, Hotel Name or U.S. Zip Code" type="text" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                    <label>Departing</label>
                    <input class="date-pick form-control" data-date-format="MM d, D" type="text" />
                </div>
                <div class="form-group form-group-select-plus">
                    <label>Passengers</label>
                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" />1
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" />2
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" />3
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" />4
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" />4+
                        </label>
                    </div>
                    <select class="form-control hidden">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option selected="selected">5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Upadte Search" />
            </form>
            <aside class="booking-filters text-white">
                <h3>Filter By:</h3>
                <ul class="list booking-filters-list">
                    <h5 class="booking-filters-title">Stops @*<small>Price from</small>*@</h5>
                    <li id="stopsCheckbox">
                        @*<div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Non-stop
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />1 Stop
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />2+ Stops
                                </label>
                            </div>*@
                        <label><input type="checkbox" checked name="Stops" class="Stops" value="0">&nbsp;0</label><br />
                        <label><input type="checkbox" checked name="Stops" class="Stops" value="1">&nbsp;1 </label><br />
                        <label><input type="checkbox" checked name="Stops" class="Stops" value="2">&nbsp;2</label>
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Price </h5>
                        <input type="text" id="price-slider">
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Flight Class <small>Price from</small></h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" />Economy<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 154</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" />Business<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 316</span>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" />First<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 450</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Airlines</h5>
                        <div id="AirlineNameCheckbox">
                            <label><input type="checkbox" checked name="type" class="airlinetype" value="Air India">&nbsp;Air India</label><br />
                            <label><input type="checkbox" checked name="type" class="airlinetype" value="Jet Airways">&nbsp;Jet Airways</label>
                        </div>
                        @*<div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Lufthansa<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 215</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />American Airlines<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 350</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Airfrance<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 154</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Croatia Airlines<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 197</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Delta<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 264</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" />Air Canada<span class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i> 445</span>
                                </label>
                            </div>*@
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Departure Time</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" />Morning (5:00a - 11:59a)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" />Afternoon (12:00p - 5:59p)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" />Evening (6:00p - 11:59p)
                            </label>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            @if (Model.arrayOfSearchedFlights.Origindestinationoption == null)
            {
                <div class="col-md-12">No Flights Available</div>
            }
            else
            {
                <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort: Sort: Price (low to high)<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                    <ul class="nav-drop-menu">
                        <li>
                            <a href="#">Price (high to low)</a>
                        </li>
                        <li>
                            <a href="#">Duration</a>
                        </li>
                        <li>
                            <a href="#">Stops</a>
                        </li>
                        <li>
                            <a href="#">Arrival</a>
                        </li>
                        <li>
                            <a href="#">Departure</a>
                        </li>
                    </ul>
                </div>
                <table id="flightsearchResult" class="display table" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Airline Name
                            </th>
                            <th>
                                Departure Time
                            </th>
                            <th>
                                Destination Arrival Time
                            </th>
                            <th>
                                duration
                            </th>
                            <th>
                                Stops
                            </th>
                            <th>
                                Available Seats
                            </th>
                            <th>
                                Fare
                            </th>
                            <th>
                                test
                            </th>
                        </tr>
                    </thead>
                    <tbody class="booking-item-container">
                        @*<ul class="booking-list">*@
                        @foreach (var flightrows in Model.arrayOfSearchedFlights.Origindestinationoption)
                        {
                            var flightrow = flightrows.FlightsDetailList.FlightsDetail.First();
                            var flightlastrow = flightrows.FlightsDetailList.FlightsDetail.Last();
                            var duration = flightlastrow.ArrivalDateTime.Subtract(flightrow.DepartureDateTime);
                            var calFare = flightrows.FareDetail.ChargeableFares.ActualBaseFare + flightrows.FareDetail.ChargeableFares.Tax;

                            count = flightrows.FlightsDetailList.FlightsDetail.Count();
                            count = count - 1;
                            i = i + 1;

                            <tr class="booking-item">
                                <td width="21%">
                                    <div class="booking-item-airline-logo">
                                        <img src=@flightrow.ImageFileName alt="Image Alternative text" title="Image Title" />
                                        <p>@flightrow.AirLineName (@flightrow.OperatingAirlineCode - @flightrow.FlightNumber)</p>
                                    </div>
                                </td>
                                <td width="22%">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <i class="fa fa-plane"></i>
                                            <h5>@flightrow.DepartureDateTime.ToString("HH:mm")</h5>
                                            <p class="booking-item-date">@flightrow.DepartureDateTime.ToString("ddd, MMM dd") </p>
                                            <p class="booking-item-destination">@flightrow.DepartureAirportCode</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="22%">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-arrival">
                                            <i class="fa fa-plane fa-flip-vertical"></i>
                                            <h5>@flightrow.ArrivalDateTime.ToString("HH:mm")</h5>
                                            <p class="booking-item-date">@flightrow.ArrivalDateTime.ToString("ddd, MMM dd") </p>
                                            <p class="booking-item-destination">@flightrow.ArrivalAirportCode</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="12%">
                                    <div>
                                        <h5>@duration.Hours.@duration.Minutes</h5>
                                        <p name="stopCount" data-row=@i>@count stop</p>
                                    </div>
                                </td>
                                <td>@duration.Hours.@duration.Minutes</td>
                                <td>@count  </td>
                                <td>@flightrow.Availability seats</td>
                                <td width="35%">
                                    <div>
                                        <span class="booking-item-price"> <i class="fa fa-inr" aria-hidden="true"></i> @calFare</span><span>/person</span>
                                        <p class="booking-item-flight-class">Class: @flightrow.BookingClassFare.ClassType</p>
                                        <form method="post" action="BookFlight">
                                            <input type="hidden" value="@Model.flightSearch.AdultPax" name="AdultPax">
                                            <input type="hidden" value="@Model.flightSearch.ChildPax" name="ChildPax">
                                            <input type="hidden" value="@Model.flightSearch.InfantPax" name="InfantPax">
                                            <input type="hidden" value="@Model.flightSearch.Origin" name="Origin">
                                            <input type="hidden" value="@Model.flightSearch.DepartDate" name="DepartDate">
                                            <input type="hidden" value="@Model.flightSearch.FlightType" name="FlightType">
                                            <input type="hidden" value="@Model.flightSearch.Mode" name="Mode">
                                            <input type="hidden" value="@Model.flightSearch.Destination" name="Destination">
                                            <input type="hidden" value="@Model.flightSearch.Preferredclass" name="Preferredclass" />
                                            <input type="hidden" value="@flightrow.SubServiceId" name="SubServiceId">
                                            <input type="hidden" value="@flightrow.Id" name="Id">
                                            <input type="hidden" value="@flightrow.FlightNumber" name="FlightNumber">
                                            <input type="hidden" value="@flightrow.OperatingAirlineCode" name="OperatingAirlineCode">
                                            <input type="hidden" value="@flightrows.FareDetail.backdiscount" name="backdiscount">

                                            <input class="btn btn-primary" type="submit" value="Select">
                                        </form>
                                        @*<a class="btn btn-primary" href="flight-payment.asp">Select</a>*@
                                    </div>
                                </td>
                            </tr>
                            <tr class="booking-item-details" style="display:none;" data-name=@i>
                                <td colspan="5">
                                    <div>
                                        <div class="row">
                                            <div>
                                                <h5>Flight Details</h5>
                                                @if (count == 0)
                                                {
                                                    <ul class="list">
                                                        <li>Departure :@flightrow.DepartureAirportCode</li>
                                                        <li>Arrival :@flightrow.ArrivalAirportCode</li>
                                                        <li>@flightrow.AirLineName,  @flightrow.OperatingAirlineCode - @flightrow.FlightNumber</li>
                                                        <li>@flightrow.BookingClassFare.ClassType</li>
                                                        <li>Depart @flightrow.DepartureDateTime.ToString("HH:mm") Arrive @flightrow.ArrivalDateTime.ToString("HH:mm")</li>
                                                    </ul>
                                                    <h5>Stop: @count</h5>
                                                }
                                                else
                                                {
                                                    foreach (var flight in flightrows.FlightsDetailList.FlightsDetail)
                                                    {
                                                        var time = flightlastrow.ArrivalDateTime.Subtract(flightrow.DepartureDateTime);
                                                        <ul class="list">
                                                            <li>Departure :@flight.DepartureAirportCode</li>
                                                            <li>Arrival :@flight.ArrivalAirportCode</li>
                                                            <li>@flight.AirLineName,  @flight.OperatingAirlineCode - @flight.FlightNumber</li>
                                                            <li>Class: @flight.BookingClassFare.ClassType</li>
                                                            <li>Depart @flight.DepartureDateTime.ToString("HH:mm") Arrive @flight.ArrivalDateTime.ToString("HH:mm")</li>
                                                            @*<li>Duration: @duration.Hours h @duration.Minutes m </li>*@
                                                        </ul>
                                                        <h5>Stopover: @flight.ArrivalAirportCode</h5>
                                                    }
                                                }

                                                <h5>Total trip time: @duration.Hours.@duration.Minutes</h5>
                                                <p>Fare Details</p>
                                                <div class="col-md-12">
                                                    <div style="float:left;">Base Fare</div><div style="float:right;">@flightrows.FareDetail.ChargeableFares.ActualBaseFare</div><br />
                                                    <div style="float:left;">Tax</div><div style="float:right;">@flightrows.FareDetail.ChargeableFares.Tax</div><br />
                                                    <hr />
                                                    <div style="float:left;">Total</div><div style="float:right;">@calFare</div><br />
                                                </div>
                                                <p>Flight Rules</p>
                                                <div class="col-lg-12">
                                                    @flightrow.BookingClassFare.Rule
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*</li>*@
                        }
                    </tbody>
                    @*</ul>*@
                </table>
            }
            <p class="text-right">
                Not what you're looking for? <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Try your search again</a>
            </p>
        </div>
    </div>
    <div class="gap"></div>
</div>

<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="~/Script/flight.js"></script>
<script>
    var jq = $.noConflict();
    jq(document).ready(function () {
        jq("p[name=stopCount]").click(function () {
            var rowId = jq(this).attr("data-row");
            jq("tr[data-name=" + rowId + "]").slideToggle("slow");
        });

        jq("#priceRange").slider({
            range: true,
            step: 1,
            values: [minvalue, maxvalue],
            min: minvalue,
            max: maxvalue
        });

        jq("#minprice").html(jq("#priceRange").slider("values", 0));
        jq("#maxprice").html(jq("#priceRange").slider("values", 1));

        jq("#priceRange").on("slide", function (event, ui) {
            jq("#minprice").html(ui.values[0]);
            jq("#maxprice").html(ui.values[1]);
        });

        jq("#priceRange").on("slidestop", function (event, ui) {
            oTable.draw();
        });

        jq("#Mode").val("ONE");
        jq("div[name=tripmode]").bind("click", function () {
            jq("div[name=tripmode]").removeClass("active-tab");
            jq("div[name=tripmode]").addClass("tab");
            jq(this).addClass("active-tab");
            var selectedMode = jq(this).attr("data-value");
            jq("#Mode").val(selectedMode);
            displayReturn(selectedMode);
        });
        jq("#dateinput").focusout(function () {
            jq("#DepartDate").val(this.value);
        });

        jq("#returnDate").focusout(function () {
            jq("#ReturnDate").val(this.value);
        });
        // Date Picker
        jq('#dateinput').datepicker({
            autoclose: true,
            todayHighlight: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy",
            minDate: 0
        });

        jq('#returnDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-M-yy",
            minDate: 0
        });

        var taskIdValue = $("#boardTaskId").val();

        jq('#flightOrigin').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "AssessorNameSearch",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Id + " (" + item.Value + ")",
                                value: item.Id
                            }
                        }));
                    },
                    fail: function (error) {
                        alert(erorr);
                    }
                });
            }
        });

        jq('#flightDestination').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "AssessorNameSearch",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Id + " (" + item.Value + ")",
                                value: item.Id
                            }
                        }));
                    },
                    fail: function (error) {
                        alert(erorr);
                    }
                });
            }
        });
    });

    function displayReturn(type) {
        if (type == "ONE") {
            $("#ReturnDateField").hide();
            $("#returnDate").prop('required', false);
        }
        else {
            $("#ReturnDateField").show();
            $("#returnDate").prop('required', true);
        }
    }
</script>
