@using ShineYatraAdmin.Properties;
@model IEnumerable<ShineYatraAdmin.Entity.CompanyFund>
@{
    ViewBag.Title = "wl_primary_users";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }
</style>
<div class="white-box">
    <h3 class="box-title"> Manage Fund Request</h3>

    <table id="FundRequestList" class="display table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    System ID
                </th>
                <th>
                    Txn Date
                </th>
                <th>
                    Member Name
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Requested Amount
                </th>
                <th>
                    Deposit Mode
                </th>
                <th>
                    Status
                </th>
                <th>
                    Remark
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>System ID</th>
                <th>Txn Date</th>
                <th>Member Name</th>
                <th>User Name</th>
                <th>Requested Amount</th>
                <th>Deposit Mode</th>
                <th>Status</th>
                <th>Remark</th>
                <th>Action</th>            
            </tr>
        </tfoot>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.txn_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.txn_date)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.first_name)
                            <span>&nbsp;</span>
                            @Html.DisplayFor(modelItem => item.last_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>

                        <td>@Html.DisplayFor(modelItem => item.deposit_mode)</td>
                        <td>
                            @if (item.status.ToUpper().Trim() == "Y")
                    {
                                <div class="label label-table label-success">@Html.DisplayFor(modelItem => item.status)</div>
                            }
                            else
                            {
                                <div class="label label-table label-danger">@Html.DisplayFor(modelItem => item.status)</div>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.remarks)
                        </td>
                        <td>
                            <a  class="popup-with-form btn btn-success" href="#EditFundRequest" onclick="EditfundRequest('APPROVED', @item.txn_id)">Approve</a>
                            <a  class="popup-with-form btn btn-success" href="#EditFundRequest" onclick="EditfundRequest('REJECTED', @item.txn_id)">Reject</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td>No Fund Request Found</td></tr>
            }
        </tbody>
    </table>
    </div>
    <form id="EditFundRequest" class="form-horizontal mfp-hide white-popup-block" style="width: 90%;" onsubmit="return UpdateFundRequest();">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"> Manage Fund Request</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <input type="hidden" id="fundstatus" name="fundstatus">
                            <input type="hidden" id="txnid" name="txnid">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    Remark
                                </div>
                                <div class="col-md-9">
                                    <textarea id="fundremark" name="fundremark"></textarea>
                                </div>
                                <input type="submit" value="submit"/>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
    </form>
    <!-- Add Funds Request -->

    <script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#FundRequestList tfoot th').each( function () {
                var title = $(this).text();
                if(title.indexOf("Remark")==-1 && title.indexOf("Action")==-1)
                {
                    $(this).html( '<input type="text" style="width:100%;" placeholder="Search '+title+'" />' );
                }
            });
                        
            var fundTable = $('#FundRequestList').DataTable({
                "bLengthChange": false,
                "language": {
                    "paginate": {
                        "previous": "<<",
                        "next": ">>"
                    }
                },
                "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [7,8] }
                ],

                stateSave: true
            });


            // Apply the search
            fundTable.columns().every( function () {
                var that = this;
 
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

        });

        function EditfundRequest(status,txnid)
        {
            $("#EditFundRequest").find("input[id='txnid']").val(txnid);
            $("#EditFundRequest").find("input[id='fundstatus']").val(status);

        }

        function UpdateFundRequest() {
            var fundRequest = $("#EditFundRequest").serialize();
           
            $(".preloader").show();
            $.ajax({
                url: '/Fund/UpdateMemberFundRequest',
                type: 'Post',
                data: fundRequest
            }).done(function (result) {
                if (result == null || result == "") {
                    swal("Status", "There is some error please try again later.", "error")
                }
                else {
                    if (result.indexOf("SUCCESS") != -1) {
                        swal({
                            title: "Success",
                            text: "Record updated Successfully",
                            type: "success"
                        }, function () {                            
                            ClearForm("EditFundRequest");
                            $(".mfp-close").click();
                        });
                    }
                    else {
                        swal({
                            title: "Fail",
                            text: result,
                            type: "error"
                        }, function () {
                            ClearForm("EditFundRequest");
                            $(".preloader").hide();
                        });
                    }
                }
                $(".preloader").hide();
                return false;
            });
            return false;
        }
    </script>
