@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.UserDetail
<link href="~/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<style>
</style>
    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"> Create User</div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="form-body">                            
                        <hr class="m-t-0 m-b-40">
                                                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">First Name*</label>
                                    <div class="col-md-9">                                           
                                        @Html.TextBoxFor(m=>m.first_name, new { required = "", id = "firstName", @class = "form-control"})                                        
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Last Name*</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.last_name,  new { required = "", id = "lastName", @class = "form-control" })                                       
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">UserName*</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.user_name, new { required = "", id = "username", @class = "form-control" })                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Mobile Number*</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.mobile_number, new { type = "tel", required = "", id = "username", @class = "form-control" })                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Email*</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.email, new { type = "email", required = "", id = "email", @class = "form-control" })                                        
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Password*</label>
                                    <div class="col-md-9">
                                        @Html.PasswordFor(m => m.password, new { required = "", id = "password", @class = "form-control" })                                        
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                           
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                            <button type="reset" onclick="closePopup()" class="btn btn-default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>