@using ShineYatraAdmin.Properties;
@model ShineYatraAdmin.Entity.UserViewModel

@{
    ViewBag.Title = "wl_primary_users";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h3 class="box-title">@Resources.ManageWhiteLabelUser</h3>
            <div class="table-responsive">
                <div class="panel">
                    <button id="insertUSer" data-company-id="0" class="btn btn-outline btn-rounded btn-info" onclick="GetInsertUserView()">
                        <i class="icon wb-plus" aria-hidden="true"></i>
                        Add New
                    </button>
                    <div class="panel-heading" style="padding: 4%;">
                        <div class="panel-action">


                            <a href="#" data-perform="panel-collapse">
                                <button class="btn btn-block btn-info">@Resources.AdvanceSearch</button>
                            </a>
                        </div>
                    </div>

                    <div class="panel-wrapper collapse out">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="white-box">
                                        <h3 class="box-title m-b-0">@Resources.SearchParameters</h3>
                                        <p class="text-muted m-b-30 font-13">@Resources.CustomSearchParameters</p>

                                        <form class="form-horizontal form-material" id="SearchUserList" onsubmit="return SearchUserList();">
                                            <div class="form-group">
                                                <label class="col-md-12">@Resources.CompanyName</label>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(m => m.SearchListParameter.CompanyName, new {@required = "", @id = "companyName", @class = "form-control", @placeholder = "Company Name"})
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.DropDownListFor(m => m.SearchListParameter.Status, new SelectList(Model.SearchStatusList, "Id", "Value"), new {@required = "required", id = "statusDropDown", @class = "form-control"})
                                                <span id="boardError"></span>
                                            </div>

                                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">@Resources.Submit</button>

                                            <a href="#" data-perform="panel-collapse">
                                                <button type="reset" class="btn btn-inverse waves-effect waves-light">@Resources.Cancel</button>
                                            </a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Usercontainer" style="min-height:305px;">
                    @Html.Partial("UserList", Model)

                </div>
            </div>
        </div>
    </div>
</div>

<a class="popup-with-form btn btn-success" href="#addUser" id="InsertUserForm" style="display:none;">Open form</a>
<form id="addUser" class="form-horizontal mfp-hide white-popup-block" onsubmit="return AddUser();">
    <div id="addformHtml">
        
    </div>
</form>







