@model IEnumerable<ShineYatraAdmin.Entity.BookingDetail>
@{
    ViewBag.Title = "My Bookings";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }
</style>



<div class="row">
    <div class="col-lg-12">
        <div class="white-box">
            <h3 class="box-title">My Flight Booking</h3>
            <div class="table-responsive">
               

                <div id="Usercontainer" style="min-height:305px;">
                    <table cellspacing="0" class="display table" id="FlightList" width="100%">
                        <thead>
                            <tr>
                                <th>System ID</th>
                                <th>Travel Date</th>                                                              
                                <th>Flight Name</th>
                                <th>Travel To</th>
                                <th>Travel From</th>
                                <th>Mode</th> 
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>System ID</th>
                                <th>Travel Date</th>
                                <th>Flight Name</th>
                                <th>Travel To</th>
                                <th>Travel From</th>
                                <th>Mode</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @if (Model != null)
            {
                foreach (var item in Model)
                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.txn_id) </td>
                                        <td>@Html.DisplayFor(modelItem => item.travel_date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ref_code)<span>-</span>@Html.DisplayFor(modelItem => item.flight_no)</td>
                                        <td>@Html.DisplayFor(modelItem => item.travel_to)</td>
                                        <td>@Html.DisplayFor(modelItem => item.travel_from)</td>
                                        <td>@Html.DisplayFor(modelItem => item.trip_mode)</td>
                                        <td>
                                            @if (item.status.ToUpper().Trim() == "PENDING")
                                            {
                                                <div class="label label-table label-default">@Html.DisplayFor(modelItem => item.status)</div>
                                            }
                                            else if (item.status.ToUpper().Trim() == "CONFIRMED")
                                            {
                                                <div class="label label-table label-success">@Html.DisplayFor(modelItem => item.status)</div>
                                            }
                                            else
                                            {
                                                <div class="label label-table label-danger">@Html.DisplayFor(modelItem => item.status)</div>
                                            }
                                        </td>                                        
                                        <td>                                            
                                            @if (item.status.ToUpper().Trim() == "COMPLETED")
                                            {                                                
                                                <a href="#" data-toggle="tooltip" onclick="confirmCancel('@item.api_txn_id','@item.unique_ref_no','@item.txn_id')" data-original-title="Close" title="Close">
                                                    <i class="text-danger sa-disable">Cancel</i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span>&nbsp;</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td>No Fund Request Found</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>

<script>
    var jq = $.noConflict();
    jq(document).ready(function () {    

        jq('#FlightList tfoot th').each(function () {
            var title = $(this).text();
            if (title.indexOf("Remark") === -1 && title.indexOf("Action") === -1) {
                jq(this).html('<input type="text" style="width:100%;" placeholder="' + title + '" />');
            }
            else {
                jq(this).html('              ');
            }
        });

        var flightList = jq('#FlightList').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    column
                        .search('', true, false)
                        .draw();
                });
            },
            "destroy": true,
            "bLengthChange": false,
            "language": {
                "paginate": {
                    "previous": "<<",
                    "next": ">>"
                }
            },
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [7, 8] }
            ],

            stateSave: true
        });


        // Apply the search
        flightList.columns().every(function () {
            var that = this;

            jq('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

    });
    

    function confirmCancel(transid, partnerRefernceId, txnid) {

        swal({
            title: "Are you sure?",
            text: "Do you really want to canel this ticket?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Cancel it!",
            closeOnConfirm: false
        }, function (isConfirm) {
            if (!isConfirm) return;
            $.ajax({
                url: "CancelFlight",
                type: "POST",
                async: false,
                data: { transId: transid, partnerRefernceId: partnerRefernceId, txnid: txnid },
                success: function (result) {
                    if (result === "success") {
                        swal({
                            title: "Success",
                            text: "Ticket Cancelled Successfully",
                            type: "success"
                        }, function () {
                            alert("in");
                            location.reload();
                        });
                    } else {
                        swal("Error in Cancelation!", "Please try again", "error");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("Error in Cancelation!", "Please try again", "error");
                }
            });
        });
    }
</script>
