@using ShineYatraAdmin.Properties;
<ul class="nav" id="side-menu">
    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- input-group -->
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder=@Resources.Search>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    <li class="nav-small-cap m-t-10">--- Master Settings </li>
    <li>
        <a href="index" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Primary Settings <span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level">
            <li> <a data-preloader="preloader" href="@Url.Action("master_airline_structure", "PrimarySetting")">@Resources.AirlinesStructure</a> </li>
            <li> <a data-preloader="preloader" href="@Url.Action("master_recharge_structure", "PrimarySetting")">@Resources.RechargeStructure</a> </li>
            <li> <a data-preloader="preloader" href="@Url.Action("master_bus_structure", "PrimarySetting")">@Resources.BusStructure</a> </li>
            <li> <a data-preloader="preloader" href="@Url.Action("master_hotel_structure", "PrimarySetting")">@Resources.HotelStructure</a> </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0);" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">@Resources.ManageGroups<span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level">
            <li> <a data-preloader="preloader" href="@Url.Action("index", "Group",new {type="Flight"})">@Resources.FlightGroups</a> </li>
            <li> <a data-preloader="preloader" href="@Url.Action("index", "Group",new {type="Hotel"})">@Resources.HotelGroups</a> </li>
            <li> <a data-preloader="preloader" href="@Url.Action("index", "Group",new {type="Bus"})">@Resources.BUSGroups</a> </li>         
        </ul>
    </li>

    <li>
        <a href="forms.html" class="waves-effect active"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">@Resources.Administration<span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level">
            <li><a data-preloader="preloader" href="@Url.Action("GetSelectedMenu", "Company", new { menu = Resources.ManageCompanies, isRefresh = false, isBack = false, sortColum = string.Empty, sortOrder = string.Empty })">@Resources.ManageCompany</a></li>
            <li><a data-preloader="preloader" href="@Url.Action("wl_primary_users", "User")">@Resources.ManageWhiteLabelUser</a></li>
        </ul>
    </li>

    <li>
        <a href="#" class="waves-effect active"><i data-icon="&#xe000;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Services<span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level">
            <li><a data-preloader="preloader" href="@Url.Action("GetFlightMenu", "Flight", new { menu = Resources.FlightBooking })">@Resources.FlightBooking</a></li>
        </ul>
    </li>

    <li>
        <a href="forms.html" class="waves-effect active"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Reports<span class="fa arrow"></span></span></a>
        <ul class="nav nav-second-level">
            <li><a href="form-basic.html">Report-1</a></li>
            <li><a href="form-layout.html">Report-2</a></li>
            <li><a href="form-layout.html">Report-3</a></li>
            <li><a href="form-layout.html">Report-4</a></li>

        </ul>
    </li>
    <li class="nav-small-cap m-t-10">--- FINANCE</li>
    <li ><a class="waves-effect" data-preloader="preloader" href="@Url.Action("FundRequest", "Fund")"><i class="icon-settings fa-fw"></i> <span class="hide-menu">@Resources.NewFundRequest </span ></a ></li >

<li><a href="@Url.Action("Logout","Dashboard")" class="waves-effect"><i class="icon-logout fa-fw"></i> <span class="hide-menu">@Resources.LogOut</span></a></li>
</ul>
